{
    "taskcluster_queue_config": {
        "credentials": {
            "clientId": "foo",
            "accessToken": "foo"
        }
    },
    "buildbot_scheduler_db": "mysql://foo:bar@blah/crap",
    "bbb_db": "sqlite:///bbb.db",

    "pulse_user": "foo",
    "pulse_password": "foo",
    "pulse_queue_basename": "queue/foo",

    "tclistener": {
        "pulse_exchange_basename": "exchange/taskcluster-queue/v1/",
        "worker_type": "buildbot-bridge"
    },
    "bblistener": {
        "pulse_exchange": "exchange/build",
        "tc_worker_group": "buildbot-bridge",
        "tc_worker_id": "buildbot-bridge"
    },
    "reflector": {
        "interval": 60
    }
}
